{% extends 'default.html' %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-10 col-lg-6">
            <img src="static/site_banner.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="400"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">SciFi Book Recommendation Engine</h1>
            <p class="lead" style="text-align: justify;">Erbap is a distributed book recommendation engine in the
                genre of science fiction novels. With its substantial database and sophisticated machine learning
                powered recommendation system approach, it is able to pinpoint your next favorite book down to its
                literary tropes.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href={{ url_for("main.random") }}><button type="button"
                        class="btn btn-primary btn-lg px-4 me-md-2">Random
                        Books</button></a>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}